.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {   
    -fx-background-color: derive;
    -fx-stroke: transparent;
    -fx-size:50;
    -fx-alignment: CENTER ;    
    -fx-text-alignment: center;

}
.table-row-cell:filled:hover {

    -fx-size:50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;


}
.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;

}

.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER 

}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.topbar:hover{
    
    -fx-background-color:tomato;
    -fx-cursor:hand;
    
}

#options{
    
    -fx-background-radius: 50;
    -fx-alignment: center;
    -fx-animated: true;
    
}
#options:hover{
    
    -fx-background-color: tomato;
    -fx-cursor: hand;
}

TextArea{
    
    -fx-alignment: center;
    
}

#return-btn,#menu-btn{

    -fx-background-color: transparent;
    -fx-background-radius: 0;

}

#return-btn:hover,#menu-btn:hover{

    -fx-background-color: tomato;
    -fx-cursor: hand;

}

#menu-btn:hover{
    
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #dddddd;
    
}


